.Viewer >section {
    text-align: center;
    margin-bottom: 50px;
}
.Viewer >section h4 {
    font-size: 22px;
    padding: 10px 0;
}
.emotion-img-wrapper {
    width: 250px;
    height: 250px;
    margin: auto;
    align-content: center;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
}

.emotion-img-wrapper.img-1 {
    background-color: #F9D65C;
}

.emotion-img-wrapper.img-2 {
    background-color: #F9D65C;
}

.emotion-img-wrapper.img-3 {
    background-color: #5588A6;
}

.emotion-img-wrapper.img-4 {
    background-color: #88B34D;
}

.emotion-img-wrapper.img-5 {
    background-color: #F37E20;
}



.content-section {
}
.content-wrapper {
    background-color: #fafafa;
    padding: 20px;
    font-size: 20px;
    min-height: 100px;
    text-align: left;
    border-radius: 10px;

}
